*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    /* background-color: #d5dbdb; */
    display: flex;
    align-items: center;
    flex-direction:column;
    margin: 20px;

}

/* style for form section */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.1);
    padding: 50px;
}
.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
form div input  {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 35px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1); 
}
form div {
    position: relative;
    margin-bottom: 15px;
}
input:focus{
    border: 2px solid #f2796e;
}
form div i {
    position: absolute;
    padding: 8px;
}
.message-error,
.error {
    color: red;
}
.message-check {
    color: green;
}

.error {
    font-size: 14.5px;
    margin-top: 5px;
}
.message-check,
.message-error {
    margin: 10px;
    right: 0px;
    opacity: 0; 
 }
button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background: #32a852;
    border: 2px solid #32a852;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1); 
    transition: all 0.1s ease;
}
button:hover {
    opacity: 0.8;
}

/* botões redes sociais */
.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.btn01, .btn02{
    padding: 10px 5px;
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    border: 2px solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
}
.btn02 {
    background-color: #4f70b5;
    color: white;
}
.or{
    text-align:center;
}
.question {
    font-size: 15px;
}
span{
    color: #f2796e;
    cursor: pointer;
}
.line {
    width: 40%;
    display: flex;
    height: 1px;
    margin-bottom: -12px;
    padding: 0;
    background-color: #909696;
    position: relative;
}
.line2 {
    width: 40%;
    display: flex;
    left: 60%;
    top: -29px;
    height: 1px;
    padding: 0;
    background-color: #909696;
    position: relative;
}